#content
	padding-left 20px
#content h1
	float left
	margin-top 0px
#content button
	float left
	margin-left 10px
	margin-bottom 10px
table > tbody > tr > td > button
	margin-left 10px
.clearfix:before,
.clearfix:after
	content ""
	display block
	height 0
	overflow hidden
.clearfix:after
	clear both
.dialog-error
	display none
	color red
	border-color red
#alerts
	width calc(100% - 180px)
	padding-left 180px
	padding-top  20px
	position fixed
	bottom 10px
	z-index 99
@media print
	.no-print,
	.no-print *
		display none !important
