div#dialog-cron.modal.fade(role="dialog")
	div.modal-dialog
		div.modal-content
			div.modal-header
				a.close(data-dismiss="modal") ×
				h3 Cronjob
			div.modal-body
				p#dialog-cron-error.dialog-error.well
				
				div#dialog-cron-tab-group.form-group
					label.control-label(for="dialog-cron-tab-group") CronTab
					div.input-group(style="width:100%;")
						div#dialog-cron-tab(style="width:100%;")
						
				div#dialog-cron-url-group.form-group
					label.control-label(for="dialog-cron-url-group") URL
					div.input-group
						span#dialog-cron-url-addon.input-group-addon.glyphicon.glyphicon-record(style="top:0px;")
						input#dialog-cron-url.input-xlarge.form-control(type="text" aria-describedby="dialog-cron-url-addon" placeholder="URL")
						
				div#dialog-cron-length-group.form-group
					label.control-label(for="dialog-cron-length-group") Länge in Sekunden
					div.input-group
						span#dialog-cron-length-addon.input-group-addon.glyphicon.glyphicon-align-left(style="top:0px;")
						input#dialog-cron-length.input-xlarge.form-control(type="text" aria-describedby="dialog-cron-length-addon" placeholder="Länge (in s)")
						
				div#dialog-cron-comment-group.form-group
					label.control-label(for="dialog-cron-comment-group") Kommentar
					div.input-group
						span#dialog-cron-comment-addon.input-group-addon.glyphicon.glyphicon-align-left(style="top:0px;")
						input#dialog-cron-comment.input-xlarge.form-control(type="text" aria-describedby="dialog-cron-comment-addon" placeholder="Kommentar")
						
				div#dialog-cron-filename-group.form-group(data-toggle="tooltip" data-placement="right" data-html="true"  title="<p style=\"width:200px;\"><b>Leerzeichen sind nicht erlaubt!</b><br/>%S Stream <br/>%A Artist<br/>%T Title<br/>%a Album<br/>%D Date and time<br/>%% Percent sign</p>")
					label.control-label(for="dialog-cron-filename-group") Dateiname
					div.input-group
						span#dialog-cron-filename-addon.input-group-addon.glyphicon.glyphicon-file(style="top:0px;")
						input#dialog-cron-filename.input-xlarge.form-control(type="text" aria-describedby="dialog-cron-filename-addon" placeholder="Dateiname")
				
				div#dialog-cron-type-group.form-group
					label.control-label(for="dialog-cron-type-group") Dateityp
					div.input-group(style="width:100%;")
						select#dialog-cron-type(style="width:100%;")
							option(selected="selected") mp3
							option mp4
							option ogg
							option wma
							option ts
							option wmv
							option mpg

				div#dialog-cron-command-group.form-group
					label.control-label(for="dialog-cron-command-group") Dateityp
					div.input-group(style="width:100%;")
						select#dialog-cron-command(style="width:100%;")
							option(selected="selected") streamripper
							option mplayer
							option vlc	
							option ffmpeg		
							option ffmpeg-all
				input(type="hidden" id="dialog-cron-id")
				input(type="hidden" id="dialog-cron-times_run")
			div.modal-footer
				button.btn.btn-success(onclick="dialog_cron_save();") Speichern
				a.btn(href="#" data-dismiss="modal") Abbrechen
