div#dialog-record.modal.fade(role="dialog")
	div.modal-dialog
		div.modal-content
			div.modal-header
				a.close(data-dismiss="modal") ×
				h3 Aufnahmen
			div.modal-body
				p#dialog-record-error.dialog-error.well
				
				div#dialog-record-url-group.form-group
					label.control-label(for="dialog-record-url-group") URL
					div.input-group
						span#dialog-record-url-addon.input-group-addon.glyphicon.glyphicon-record(style="top:0px;")
						input#dialog-record-url.input-xlarge.form-control(type="text" aria-describedby="dialog-record-url-addon" placeholder="URL")
						
				div#dialog-record-start-group.form-group
					label.control-label(for="dialog-record-start-group") Start
					div.input-group
						span#dialog-record-start-addon.input-group-addon.glyphicon.glyphicon-calendar(style="top:0px;")
						input#dialog-record-start.input-xlarge.form-control(type="text" aria-describedby="dialog-record-start-addon" placeholder="Start")
							
				div#dialog-record-stop-group.form-group
					label.control-label(for="dialog-record-stop-group") Stop
					div.input-group
						span#dialog-record-stop-addon.input-group-addon.glyphicon.glyphicon-calendar(style="top:0px;")
						input#dialog-record-stop.input-xlarge.form-control(type="text" aria-describedby="dialog-record-stop-addon" placeholder="Stop")
					
				div#dialog-record-comment-group.form-group
					label.control-label(for="dialog-record-comment-group") Kommentar
					div.input-group
						span#dialog-record-comment-addon.input-group-addon.glyphicon.glyphicon-align-left(style="top:0px;")
						input#dialog-record-comment.input-xlarge.form-control(type="text" aria-describedby="dialog-record-comment-addon" placeholder="Kommentar")
						
				div#dialog-record-filename-group.form-group(data-toggle="tooltip" data-placement="right" data-html="true"  title="<p style=\"width:200px;\"><b>Leerzeichen sind nicht erlaubt!</b><br/>%S Stream <br/>%A Artist<br/>%T Title<br/>%a Album<br/>%D Date and time<br/>%% Percent sign</p>")
					label.control-label(for="dialog-record-filename-group") Dateiname
					div.input-group
						span#dialog-record-filename-addon.input-group-addon.glyphicon.glyphicon-file(style="top:0px;")
						input#dialog-record-filename.input-xlarge.form-control(type="text" aria-describedby="dialog-record-filename-addon" placeholder="Dateiname")
				
				div#dialog-record-type-group.form-group
					label.control-label(for="dialog-record-type-group") Dateityp
					div.input-group(style="width:100%;")
						select#dialog-record-type(style="width:100%;")
							option(selected="selected") mp3
							option mp4
							option ogg
							option wma
							option ts
							option wmv
							option mpg

				div#dialog-record-command-group.form-group
					label.control-label(for="dialog-record-command-group") Ripper
					div.input-group(style="width:100%;")
						select#dialog-record-command(style="width:100%;")
							option(selected="selected") streamripper
							option mplayer
							option vlc		


				input(type="hidden" id="dialog-record-id")
			div.modal-footer
				button.btn.btn-success(onclick="dialog_record_save();") Speichern
				a.btn(href="#" data-dismiss="modal") Abbrechen
